@import "../../styles/herogs";

// ----------------------------
// Simple 4 columns
// ----------------------------

.grid {
  @include gs-wrap-init();
}

.grid__col {
  @include gs-col-init();
}

.grid--gutter-30 {
  @include gs-gutter(-30);
  .grid__col {
    @include gs-gutter(30);
  }
}

@media (min-width: 768px){
  .grid--sm-4 .grid__col {
    @include gs-col(1, 4);
  }
}

// ----------------------------
// Automate Masonry
// ----------------------------

$masonry-grid-width: 370px;
$masonry-grid-height: 230px;

@mixin my-masonry-grid($rows: null, $cols: null, $breakpoint: null, $width: 370px, $height: 230px){
  $tag: ".masonry-grid--#{$rows}x#{$cols}";
  @if $breakpoint != null {
    $tag: ".masonry-grid--#{$breakpoint}-#{$rows}x#{$cols}";
  }

  #{$tag} {
    .masonry-grid__inner {
      @include gs-masonry-inner($rows, $cols, $width, $height);
    }
    .masonry-grid__items {
      @include gs-masonry-items($rows, $cols, $width, $height);
    }
  }
}
@mixin my-masonry-item($rows: null, $cols: null, $breakpoint: null, $width: 370px, $height: 230px){
  @include gs-masonry-item($rows, $cols, $width, $height, $breakpoint);
}

.masonry-grid {}

.masonry-grid__inner {
  @include gs-masonry-inner-init();
}

.masonry-grid__items {
  @include gs-masonry-items-init();
}

@include my-masonry-grid(6, 1);

@media (min-width: 480px){
  @include my-masonry-grid(6, 2, xs);
}

@media (min-width: 768px){
  @include my-masonry-grid(4, 3, sm);
}

@media (min-width: 992px){
  @include my-masonry-grid(3, 4, md);
}

.masonry-grid__item {
  @include gs-masonry-item-init();

  @include my-masonry-item(6, 1);

  @media (min-width: 480px){
    @include my-masonry-item(6, 2, xs);
  }

  @media (min-width: 768px){
    @include my-masonry-item(4, 3, sm);
  }

  @media (min-width: 992px){
    @include my-masonry-item(3, 4, md);
  }
}

.masonry-grid__content {
  @include gs-masonry-content-init();
}

.masonry-grid--gutter-30 {
  @include gs-gutter(-30);
  .masonry-grid__content {
    @include gs-gutter-absolute(30);
  }
}

// ----------------------------
// Demo styles
// ----------------------------

body {
  margin: 0;
}

.wrapper {
  padding: 30px;
  max-width: (1170px + 60px);
  margin: 0 auto;
}

.cell {
  padding: 10px 15px;
  border: 1px solid #eee;

  text-align: center;

  background-color: #f5f5f5;
}

.grid__item,
.masonry-grid__item {
  transition: all 1s ease-in-out;
}

.masonry-grid__content {
  .cell {
    height: 100%;
  }

  .cell__inner {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}