{% extends "layout.twig" %}

{% block page %}

	<div class="grid">
		<div class="grid__col">
			<div class="grid__content">1</div>
		</div>
		<div class="grid__col">
			<div class="grid__content">2</div>
		</div>
		<div class="grid__col">
			<div class="grid__content">3</div>
		</div>
		<div class="grid__col">
			<div class="grid__content">4</div>
		</div>
	</div>

{% endblock %}

{% block styles %}
{% endblock %}

{% block scripts %}
{% endblock %}