@import "../../styles/herogs";

.grid {
  @include gs(wrap); // init wrapper
  @include gs(gutter, -30); // use negative value for setting gutter for wrapper
}
.grid__col {
  @include gs(col); // init column
  @include gs(gutter, 30); // use positive value for setting gutter for columns

  @media (min-width: 768px){
    @include gs(col, 1, 4); // set width for tablet devices and upper
  }

  @media (max-width: 767px){
    & + .grid__col {
      margin-top: 30px;
    }
  }
}

/* demo styles */

body {
  margin: 0;
}

.wrapper {
  padding: 30px;
}

.grid__content {
  padding: 10px 15px;
  border: 1px solid #eee;
  background-color: #f5f5f5;
}